$white: #ffffff;
$black: #000000;
$light-grey-1: #ebebec;
$light-grey-2: #c0c1c6;
$grey: #333646;
$dark-grey: #252734;
$primary-color: #ffaf29;
//buttons
$yellow: #f2cf00;
$dark-yellow: #f2b200;

// Colors
$bg-color: $dark-grey;
$dot-color: $light-grey-2;
$dot-color2: $primary-color;

// Dimensions
$dot-size: 0.1rem;
$dot-space: 1.8rem;