.footer {
    color: $white;
    background-color: $grey;
    padding: 10rem 0;
}

.footer-lower {
    color: $white;
    background:
    linear-gradient(90deg, $bg-color ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-color ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
    background-size: $dot-space $dot-space;
    padding: 3rem 0;
    text-align: center;
}