.footer {
    color: $white;
    background-color: $grey;
    padding-bottom: 10rem;
}

.footer-lower {
    color: $white;
    background-color: $dark-grey;
    padding: 4rem 0;
    text-align: center;
}

@media screen and (max-width: 991px) {
    .footer {
        padding: 4rem 0;
    }
    .footer-lower {
        padding: 2rem 0;
    }
}

@media screen and (max-width: 580px) {
    .footer-lower > p {
        font-size: 1.2rem;
    }
}