.header {
    background-color: $grey;
    padding: 30rem 0 10rem 0;
    position: relative;
    color: #ffffff;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__information {
        flex: 0 0 60%; 
    }
    &__title {
        color: currentColor;
        margin-bottom: 1.5rem;
    }
    &__description {
        color: currentColor;
        margin-bottom: 4rem;
    }
}