.navigation {
    background-color: lightseagreen;
    position:fixed;
    width: 100%;
    z-index: 1;
    padding: 2rem 0;
    font-size: 1.8rem;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        color: $white;
        display: flex;
        align-items: center;
        margin-right: 1.5rem;
        &-icon {
            width: 2.5rem;
            height: 2.5rem;
            fill: $white;
            margin-right: 1.5rem;
        }
        a {
            font-size: 2.2rem;
            color: currentColor;
            text-decoration: none;
            font-weight: 700;
        }
    }
}

.navigation-menu {
    display: flex;
    list-style-type: none;
    color: $white;
    &__li {
        font-size: 1.6rem;
        margin-right: 3rem;
        &:last-child {
            margin-right: 0;
        }
    }
    &__link {
        color: currentColor;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
    }
}

@media screen and (max-width: 767px) {
    .navigation {
        &__logo {
            margin-right: 1rem;
            &-icon {
                margin-right: 1.5rem;
            }
            a {
                font-size: 2rem;
            }
        }
    }
    
    .navigation-menu {
        &__li {
            font-size: 1.4rem;
            margin-right: 2rem;
        }
    }
}

@media screen and (max-width: 570px) {
    .navigation {
        padding: 1.5rem 0;
        font-size: 1.8rem;
        &__wrapper {
            flex-direction: column;
            align-items: center;
        }
        &__logo {
            margin-right: 0;
            margin-bottom: 1rem;
            &-icon {
                width: 3rem;
                height: 3rem;
            }
        }
    }
    
    .navigation-menu {
        &__li {
            font-size: 1.2rem;
            margin-right: 1.5rem;
        }
    }
}