.button {
    border: 0;
    padding: 2rem 5rem;
    font-size: 1.8rem;
    font-weight: 400;
    position: relative;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.4s;
    text-decoration: none;
    color: $black;
    text-align: center;
    &--dropshadow {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &--yellow {
        background: linear-gradient(180deg, $yellow 0, $dark-yellow 100%);
        &:hover {
           background: linear-gradient(180deg, $white 0, $white 100%);
           transform: translateY(-0.5rem);
        }
    }
    &--outlineYellow {
        border: 0.1rem solid $yellow;
        color: $yellow;
        &:hover {
            background: linear-gradient(180deg, $yellow 0, $dark-yellow 100%);
            color: $black;
            transform: translateY(-0.5rem);
         }
    }
    &--withIconL {
        padding-left: 4.5rem;
    }
    &--withIconR {
        padding-right: 4.5rem;
    }
    & > svg {
        position: absolute;
        top: 50%;
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
        transform: translateY(-50%);
        &.left { left: 1.5rem; }
        &.right{ right: 1.5rem; }
    }
}

@media screen and (max-width: 991px) {
    .button {
        padding: 1.5rem 3rem;
        font-size: 1.4rem;
        &--withIconL {
            padding-left: 3.5rem;
        }
        &--withIconR {
            padding-right: 3.5rem;
        }
        & > svg {
            width: 1.5rem;
            height: 1.5rem;
            &.left { left: 1rem; }
            &.right{ right: 1rem; }
        }
    }
}