.button {
    border: 0;
    padding: 1.5rem 4rem;
    border-radius: 2rem;
    font-size: 1.6rem;
    font-weight: 400;
    position: relative;
    background-color: transparent;
    cursor: pointer;
    &--dropshadow {
        box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    &--yellow {
        background: linear-gradient(180deg, $yellow 0, $dark-yellow 100%);
    }
    &--outlineYellow {
        border: 0.1rem solid $yellow;
        color: $yellow;
    }
    &--withIconL {
        padding-left: 4.5rem;
    }
    &--withIconR {
        padding-right: 4.5rem;
    }
    & > svg {
        position: absolute;
        top: 50%;
        width: 1.8rem;
        height: 1.8rem;
        fill: currentColor;
        transform: translateY(-50%);
        &.left { left: 1.5rem; }
        &.right{ right: 1.5rem; }
    }
}

@media screen and (max-width: 991px) {
    .button {
        padding: 1.5rem 3rem;
        font-size: 1.4rem;
        &--withIconL {
            padding-left: 3.5rem;
        }
        &--withIconR {
            padding-right: 3.5rem;
        }
        & > svg {
            width: 1.5rem;
            height: 1.5rem;
            &.left { left: 1rem; }
            &.right{ right: 1rem; }
        }
    }
}