*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
}

.container {
    max-width: 114rem;
    display: block;
    padding: 0 2rem;
    margin: 0 auto;
}

.container-smaller {
    max-width: 70rem;
    display: block;
    padding: 0 2rem;
    margin: 0 auto;
}